{% extends 'base.html' %}

{% block title %}
Create a recipe - Scrumptious Recipes
{% endblock title %}
{% block content %}
<header>
    <nav>
        <a class="title-color text-highlight" href="{% url 'recipe_list' %}">Main Page</a>
    </nav>
</header>
<main>
    <form method="post">
        <!-- Security token to protect form against malicious activity -->
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</main>
{% endblock content %}
