{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a class="title-color text-highlight" href="{% url 'recipe_list' %}">
            Main page
        </a>
        <a class="title-color text-highlight" href="{% url 'create_recipe' %}">
            Create a recipe
        </a>
    </nav>
</header>
<main>
    <h1 style="padding-left: 80px;">{{ recipe_object.title }}</h1>
    <div class="div-split">
        <div>
            <img class="detail-img" src="{{ recipe_object.picture }}" alt="veggie_tacos">
        </div>
        <div>
            <h2>Ingredients</h2>

            <h3 class="table-top">Amount</h3>
            <h3 class="table-top">Food Item</h3>
            <table>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}</td>
                    <td>{{ ingredient.food_item }}</td>
                </tr>
                {% endfor %}
            </table>

            <h2>Steps</h2>

            <ol>
                {% for step in recipe_object.steps.all %}
                    <li>{{ step.instruction }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <h4 class="top-space">4.3 Stars!</h4>
    <div>
        <h2>Here is some sample text to test the footer!</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque corporis quo laboriosam unde? Dicta
            earum
            repellendus non placeat a eveniet modi deleniti quis, aliquam laborum tempora numquam voluptatum beatae
            maiores!
            Eveniet exercitationem laudantium rem et rerum numquam similique dolore aut sed voluptate, architecto
            laborum delectus quaerat ipsa, esse voluptates, labore obcaecati aliquam vel consequuntur quae. Natus
            possimus repudiandae sapiente facere?
            Provident, sit voluptates. Ipsa voluptas delectus cumque reprehenderit, corrupti quo magni ipsam
            suscipit
            asperiores minima sequi dignissimos cupiditate dicta quod corporis impedit natus consequatur assumenda.
            In
            possimus error beatae accusantium.
            Provident, placeat. Amet, culpa veniam voluptate quis hic quod corporis, minima modi accusantium quidem
            eos
            tempora? Amet sapiente ullam labore fuga hic rerum voluptas minima, ratione deleniti earum excepturi
            ipsa.
            Maxime iure fugiat eos at blanditiis. Illum velit assumenda harum fugiat consequuntur. Minus, veniam
            atque
            quae odio commodi incidunt pariatur quidem facilis aspernatur? Perferendis est distinctio quis vero
            dolores
            quasi.
            A atque iste delectus. Possimus doloribus voluptas cum modi mollitia repellat, porro expedita, vitae
            corrupti sed eligendi. Nostrum, ea voluptatibus officia aperiam blanditiis ex architecto esse maxime
            similique, voluptates earum!
            Architecto eligendi, quod natus ullam unde maxime aspernatur explicabo placeat dicta impedit, cupiditate
            corporis! Praesentium sunt dolorum cum cupiditate soluta rem! Provident consequuntur quas odio quia
            impedit
            eos tempora delectus.
            Laudantium omnis porro illo quos voluptas similique voluptatem numquam voluptates velit aliquid unde
            neque
            placeat, reprehenderit delectus est asperiores nesciunt corrupti ipsa mollitia? Impedit voluptatum ab
            repellendus aperiam omnis modi?
            Incidunt ullam praesentium in. Asperiores cum officiis obcaecati voluptatum vitae ab quam dolorum
            perspiciatis illo deleniti soluta in et fugiat possimus sequi quos architecto, veniam necessitatibus
            ducimus
            saepe molestias! Est!
            Facilis suscipit, illo reprehenderit cumque, rem laborum eos quo rerum ex incidunt iusto necessitatibus
            placeat repudiandae ipsum! Iusto, molestias ab cum fugit autem reprehenderit voluptate deserunt nisi,
            doloremque error ullam!
        </p>
    </div>
</main>
{% endblock content %}
