{% extends 'base.html' %}
{% load static %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a class="title-color text-highlight" href="{% url 'recipe_list' %}">
            Main page
        </a>
        <a class="title-color text-highlight" href="{% url 'create_recipe' %}">
            Create a recipe
        </a>
        {% if user.is_authenticated %}
            <h2 class="title-color text-highlight">Hello, {{ user.username }}!</h2>
            <a class="title-color text-highlight" href="{% url 'my_recipe_list' %}">My recipes</a>
            <a class="title-color text-highlight" href='{% url 'logout' %}'>Logout</a>
        {% else %}
            <a class="title-color text-highlight" href="{% url 'signup' %}">Sign up</a>
            <a class="title-color text-highlight" href="{% url 'login' %}">Login</a>
        {% endif %}

    </nav>
</header>

<main>
    <div class="background">
        <h1 class="center">Scrumptious Recipes</h1>
        <h2 class="center">All the food that's fit to eat!</h2>
    </div>

    <div id="div-container">
        {% for recipe in recipe_list %}
        <div class="card-trait highlight">
            <h3><a class="class-color" href="{% url 'show_recipes' recipe.id %}">{{ recipe.title }}</a></h3>
            <p>
                <img class="img" src="{{ recipe.picture|default:" https://via.placeholder.com/150" }}"
                    alt="veggie_tacos">
            <p> {{ recipe.created_on|date:"j F Y" }} </p>
            </p>

            <h4>4.3 Stars!</h4>
            <a class="class-color" href="{% url 'edit_recipe' recipe.id %}">Edit</a>
        </div>
        {% empty %}
        <p>There are no recipes!</p>
        {% endfor %}
    </div>
</main>
{% endblock content %}
