@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    font-family: 'Roboto', sans-serif;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: rgb(255, 130, 80);
}

html {
    background-color: rgba(255, 227, 196, 0.877);
}


.background {
    background-color: rgb(255, 188, 62);
    padding: 1px 0;
}

tr:nth-of-type(even) {
    background-color: rgb(184, 183, 183);
}

.top-space {
    padding-top: 10px;
}

body {
    margin: 0;
    padding: 0;
}

div {
    grid-template-columns: auto auto auto auto auto;
    margin: 0 auto;
}

.card-trait {
    border: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: 6px 3px 3px rgba(255, 186, 57, 0.671);
    transition: box-shadow 0.5s;
    text-align: center;
}

.card-trait:hover {
    box-shadow: 10px 5px 5px rgb(255, 145, 0);
}

h4 {
    margin: 0px;
}

.title-color {
    color: white;
    text-decoration: none;
    margin: 5px;
    font-weight: bold;
}

.class-color {
    color: rgb(20, 175, 0);
    text-decoration: none;
}

#div-container {
    display: grid;
    padding: 20px 20px;
}

.detail-img {
    height: auto;
    width: 400px;
}


.img {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    margin-bottom: -10px;
}

.table-top {
    display: inline;
}

footer {
    padding: 15px;
    position: fixed;
    border-top: 1px solid black;
    background: rgb(255, 173, 67);
    width: 100%;
    font-weight: bold;
    font-size: small;
    bottom: 0;
}

main {
    padding: 16px;
    margin-bottom: 300px;
}

.center {
    text-align: center;
}

.text-highlight:hover {
    color: rgb(233, 233, 233);
}

.highlight:hover {
    background-color: rgb(255, 214, 187);

}

.div-split {
    grid-template-columns: 200px 1000px;
    display: grid;
}
